{% extends "base.html" %}

{% block main %}
<section>
    <h2>Discord</h2>
    <div>
        <p>
            The Discord is little online chat room for folks to talk about Sketchingpy but also just to hang out and connect with others interested in creative coding and interactive science. We invite conversation about Sketchingpy of course but also about other technologies as well. Our hope is that this space can foster creative coding more generally even beyond our humble Python library.
        </p>
        <p>
            We are still assembling a critical mass before we open things up. Let us know you are interested in joining by emailing <a href="mailto:hello@sketchingpy.org">hello@sketchingpy.org</a>. Thanks! Subject to our <a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/CONDUCT.md">Code of Conduct</a>.
        </p>
    </div>
</section>
{% endblock %}