{% extends "base.html" %}

{% block main %}
<section>
    <h2>Provide documentation</h2>
    <div>
        Thank you so much for offering your time. This section looks at contributions which may involve code that is not part of the Sketchingpy library distribution or supporting code itself.
    </div>
    <section class="subsection" id="translation">
        <h3>Translate</h3>
        <div>
            We invite translators to migrate existing documentation to new languages for which a prior translation is not available. Please <a href="https://codeberg.org/sketchingpy/Sketchingpy/issues">open an issue</a> and indicate the following:

            <ul>
                <li>What section of documentation you are hoping to volunteer.</li>
                <li>What language you are offering to provide translation.</li>
                <li>Confirm that you have prior skill in this language and will not use machine translation.</li>
            </ul>

            Be sure to add the tag "Documentation" to your issue. 
        </div>
    </section>
    <section class="subsection" id="examples">
        <h3>Add an example</h3>
        <div>
            Short examples for specific Sketchingpy functionality help developers of all skill levels use our open source tools. There are multiple ways to contribute. First, you may respond to an open issue asking for an example within <a href="https://codeberg.org/sketchingpy/Sketchingpy/issues">our tracker</a> to indicate you are volunteering. Second, you may submit an example you've made even though a prior issue was not open by <a href="https://codeberg.org/sketchingpy/Sketchingpy/issues">opening an issue</a> with the following:

            <ul>
                <li>Description of the functionality for which the example is being provided.</li>
                <li>The code for the example.</li>
                <li>Draft of accompanying text (if applicable).</li>
                <li>Suggestion on where within Sketchingpy's website or repository the example should go.</li>

            Finally, you may report an issue with existing examples by [opening an issue](https://codeberg.org/sketchingpy/Sketchingpy/issues) with the URL of the problem along with a description of the problem. Thank you very much!
        </div>
    </section>
    <section class="subsection" id="docs">
        <h3>Write documentation</h3>
        <div>
            Carefully written documentation benefits developers of all skill levels. There are multiple ways to contribute. First, you may respond to an open issue asking for documentation within <a href="https://codeberg.org/sketchingpy/Sketchingpy/issues">our tracker</a> to indicate you are volunteering. Second, you may submit a <a href="https://codeberg.org/sketchingpy/Sketchingpy/issues">new issue</a> with the following:

            <ul>
                <li>Description of the functionality for which the documentation is being provided.</li>
                <li>Code snippet (if applicable).</li>
                <li>Draft of accompanying text.</li>
                <li>Suggestion on where within Sketchingpy's website or repository the documentation should go.</li>

            Finally, you may report an issue with existing documentation by [opening an issue](https://codeberg.org/sketchingpy/Sketchingpy/issues) with the URL of the problem along with a description of the problem. Thank you so much for your time.
        </div>
    </section>
    <section class="subsection" id="links">
        <h3>Related materials</h3>
        <ul>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/CONDUCT.md">Code of Conduct</a></li>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/CONTRIBUTING.md">Contribution Guidelines and Agreement</a></li>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/GOVERNANCE.md">Governance</a></li>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/README.md">README</a></li>
        </ul>
    </section>
</section>
{% endblock %}