{% extends "base.html" %}

{% block main %}
<section>
    <h2>Issues</h2>
    <div>Thank you for helping the project! This page discusses how you can report potential bugs and suggest new features.</div>
    <section class="subsection" id="problem">
        <h3>Reporting a problem</h3>
        <div>
            Bugs are problems in existing functionality and they can be reported by <a href="https://codeberg.org/sketchingpy/Sketchingpy/issues">opening an issue</a>. If possible, include what you can from the following:

            <ul>
                <li>Brief summary of the problem ideally with a description of what happened and how that differed from what you expected to happen.</li>
                <li>Your operating system version and, if using Sketch2DWeb, your browser version.</li>
                <li>Code snippets to reproduce the bug.</li>
            </ul>

            Please add the "Bug" label. If you are unable to open an issue or the problem is security related, please email us at <a href="mailto:hello@sketchingpy.org">hello@sketchingpy.org</a>.
        </div>
    </section>
    <section class="subsection" id="proposal-enhancement">
        <h3>Offering a proposal or enhancement</h3>
        <div>
            "Enhancement" issues cover requests for making changes to existing functionality. Meanwhile, suggestions for new features are called "proposals" in our projects. For either, please open an issue in <a href="https://codeberg.org/sketchingpy/Sketchingpy/issues">our tracker</a> with the following information:

            <ul>
                <li>Short single sentence description of the functionality.</li>
                <li>Rationale and/or detailed description of the new feature.</li>
                <li>Recommendations for design (in terms of API or implementation) if available.</li>
                <li>Questions for the community if applicable.</li>
                <li>Example code if applicable.</li>
            </ul>

            If possible, add the "enhancement" or "proposal" label to your issue. A member of the planning group will review your request!
        </div>
    </section>
    <section class="subsection" id="proposal-enhancement">
        <h3>Note about issues</h3>
        <div>
            Issues are part of the open source process. Therefore, they are part of our <a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/CONDUCT.md">Code of Conduct</a> and <a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/CONTRIBUTING.md">Contribution Guidelines</a>.
        </div>
    </section>
    <section class="subsection" id="links">
        <h3>Related materials</h3>
        <ul>
            <li><a href="/community/document.html">Documentation Issues</a></li>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/CONDUCT.md">Code of Conduct</a></li>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/CONTRIBUTING.md">Contribution Guidelines and Agreement</a></li>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/GOVERNANCE.md">Governance</a></li>
            <li><a href="https://codeberg.org/sketchingpy/Sketchingpy/src/branch/main/README.md">README</a></li>
        </ul>
    </section>
</section>
{% endblock %}