<!doctype html>
<html>
    <head lang="en_US">
        <meta charset="UTF-8">
        <title>Sketchingpy Test Harness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/third_party/core.css">
        <script type="module" src="/third_party/core.js"></script>
    </head>
    <body>
        <py-config>
        {
            "packages": ["/dist/sketchingpy-0.3.2-py3-none-any.whl"]
        }
        </py-config>

        <main id="#main">
            <div class="sketch-load-message" id="sketch-load-message">Waiting...</div>
            <canvas id="sketch-canvas" style="display: none"></canvas>
        </main>

<py-script>
{{ script }}
</py-script>
    </body>
</html>
