<!doctype html>
<html>
<head lang="en_US">
    <meta charset="UTF-8">
    <title>Sketchingpy Examples</title>
    <link rel="stylesheet" href="/third_party/pyscript/core.css?v={{ version }}">
    <link rel="stylesheet" href="/examples/web/css/example.css?v={{ version }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="/third_party/pyscript/core.js?v={{ version }}"></script>
</head>
<body>    
    <py-config>
        interpreter = "http://localhost:8000/third_party/pyodide/pyodide.mjs"
        packages = ["http://localhost:8000/dist/sketchingpy-0.3.2-py3-none-any.whl"]
    </py-config>

    <header>
        <a href="#main" class="skip-link">Skip to content</a>
        <h1>Sketchingpy examples</h1>
        <div class="subtitle">Simple coding examples highlighting Sketchingpy's capabilities. Part of <a href="/">sketchingpy.org</a> project.</div>
    </header>
    <main id="main">
        <div class="split-view">
            <section class="code-holder">
                <h2>Examples Sketchbook</h2>
                <div class="controls">
                    <select id="sketch-select">
                        <option value="hello_homepage">Basics: Homepage</option>
                        <option value="hello_interactive">Basics: Interactive</option>
                        <option value="basics_state">Basics: State</option>
                        <option value="hello_static" selected>Basics: Static</option>
                        <option value="basics_styling">Basics: Styling</option>
                        <option value="buffer_opaque">Buffers: Opaque</option>
                        <option value="buffer_simple">Buffers: Simple</option>
                        <option value="data_read_csv">Data: Read CSV</option>
                        <option value="data_read_json">Data: Read JSON</option>
                        <option value="data_write_csv">Data: Write CSV</option>
                        <option value="data_write_json">Data: Write JSON</option>
                        <option value="dialog_simple">Dialog: Simple</option>
                        <option value="geo_geojson">Geo: GeoJSON</option>
                        <option value="geo_polygon">Geo: Polygon</option>
                        <option value="geo_scale_transform">Geo: Scale and Transform</option>
                        <option value="image_draw">Image: Draw</option>
                        <option value="image_save">Image: Save</option>
                        <option value="inputs_keyboard">Inputs: Keyboard</option>
                        <option value="inputs_mouse">Inputs: Mouse</option>
                        <option value="shapes_arc">Shapes: Arc</option>
                        <option value="shapes_bezier">Shapes: Bezier</option>
                        <option value="shapes_ellipse">Shapes: Ellipse</option>
                        <option value="shapes_line">Shapes: Line</option>
                        <option value="shapes_pixel">Shapes: Point</option>
                        <option value="shapes_rect">Shapes: Rect</option>
                        <option value="shapes_shape">Shapes: Shape</option>
                        <option value="text_fill_stroke">Text: Fill + Stroke</option>
                        <option value="text_horiz_align">Text: Horizontal Align</option>
                        <option value="timing">Timing</option>
                        <option value="text_vert_align">Text: Vertical Align</option>
                        <option value="transform_combine">Transform: Combine</option>
                        <option value="transform_rotate">Transform: Rotate</option>
                        <option value="transform_scale">Transform: Scale</option>
                        <option value="transform_state">Transform: State</option>
                        <option value="transform_translate">Transform: Translate</option>
                    </select>
                    <span class="loading" id="loading-msg">Please wait...</span>
                    <span class="loading" id="loaded-msg"><a id="run-button" role="button" href="#result" class="button">Run</a></span>
                </div>
                <div>
                    <div id="editor"></div>
                    <div class="source-links">
                        <a id="local-link" class="button-invert" href="#local">Local</a>
                        <a id="static-link" class="button-invert" href="#statics">Static</a>
                    </div>
                </div>
            </section>
            <section class="canvas-holder" id="result">
                <h2>Result</h2>
                <div class="sketch-load-message" id="sketch-load-message" style="display:none">
                    <span id="sketch-load-message-content">Click run to execute the example code.</span>
                    <progress id="sketch-load-progress" style="display: none" max="20" value="0">
                </div>
                <canvas class="sketch-canvas" id="sketch-canvas" tabindex="1"></canvas>
                <details class="sketch-console-holder">
                    <summary>Sketch console</summary>
                    <ul id="sketch-canvas-console">
                    </ul>
                </details>
            </section>
        </div>
        <div id="main-script"></div>
        <pre id="runtime-error-display"></pre>
        <input type="hidden" id="version" value="{{ version }}">
    </main>

    <script src="/examples/web/third_party/ace.min.js?v={{ version }}"></script>
    <script src="/examples/web/third_party/theme-textmate.js?v={{ version }}"></script>
    <script src="/examples/web/third_party/theme-textmate-css.js?v={{ version }}"></script>
    <script src="/examples/web/js/example.js?v={{ version }}"></script>

</body>
</html>
