{% extends "base.html" %}

{% block main %}
<section>
    <h2>Community</h2>
    <div>Get inspired and get involved.</div>

    <section class="gallery">
        <div class="item">
            <div class="image-holder">
                <img src="/img/discord.png" alt="Picture of the discord logo.">
            </div>
            <div class="description">
                Get in touch, exchange ideas, and ask questions in our Discord online chat.
            </div>
            <div class="action">
                <a href="/community/discord.html" class="button" aria-label="Community discord">Discuss</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/shapes_arc.png" alt="Pictures of a few different arcs.">
            </div>
            <div class="description">
                Inspire the community by viewing and adding work to our showcase.
            </div>
            <div class="action">
                <a href="/community/showcase.html" class="button" aria-label="Community showcase">Share</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/issue.png" alt="Pixel art of a dog looking at a bone in a glass container on top of a counter while rain pours down outside.">
            </div>
            <div class="description">
                Found an issue? Got a request? Have suggestions? Make a ticket.
            </div>
            <div class="action">
                <a href="/community/issue.html" class="button" aria-label="Issue, bugs, and ideas tracker">File</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/document.png" alt="Pixel art of a witch reading a book with a black cat in the background.">
            </div>
            <div class="description">
                Help others by providing documentation and examples.
            </div>
            <div class="action">
                <a href="/community/document.html" class="button" aria-label="Learn about volunteering for documentation">Assist</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/code.png" alt="Pixel art of a man and a dog doing a high five.">
            </div>
            <div class="description">
                Fix bugs and implement new features for Sketchingpy as a developer.
            </div>
            <div class="action">
                <a href="/community/code.html" class="button" aria-label="Learn about volunteering for development">Code</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/conventions.png" alt="Screenshot of the homescreen.">
            </div>
            <div class="description">
                Project design / goals, common practices, and coding conventions.
            </div>
            <div class="action">
                <a href="/community/conventions.html" class="button" aria-label="Read design and coding conventions for the project.">Read</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}
