{% extends "base.html" %}

{% block main %}
<section>
    <h2>Online editor</h2>
    <div>
        <p>
            Use Sketchingpy without installing any software! The online editor runs in your browser but keeps all of your data on your computer, letting you sketch in private. You can also export projects as single files which can easily be imported back into the browser-based editor or used in version control. All of this lets you save your work elsewhere or share with others!
        </p>

        <p>
            <a href="https://editor.sketchingpy.org" class="button">Open Editor</a>
        </p>
    </div>
</section>
{% endblock %}