h2 {
    margin-top: 0px;
    padding-top: 20px;
}

.catch {
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 200%;
}

.catch .control {
    font-size: 11px;
    color: #606060;
    margin-top: 15px;
}

.catch .control a:link, nav .catch .control a:visited, .catch .control a:hover, .catch .control a:active  {
    color: #606060;
}

.catch .control a:hover, .catch .control a:active  {
    color: black;
}

.catch .word {
    background-color: #333333;
    color: white;
    padding: 5px;
}

.code-holder .controls {
    min-height: 38px;
}
